.menu {
  background: #0a2750 url(../images/background_menu.svg) center/cover no-repeat;
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
}

.menu__title {
  padding-top: 100px;
  margin: 0 auto;
  max-width: 780px;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  text-align: center;
  margin: 24px auto 0;
  max-width: 780px;
  font-family: "Noto serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  margin: 100px auto 0;
  padding: 0 0 100px;
}
